<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
	xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation = "http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop
	https://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<!-- 핵심로직인 ItemTarget을 bean으로 설정 -->
	<bean id="itemTarget" class="t_tok03.ItemTarget"></bean>
	<bean id="goodsTarget" class="t_tok03.GoodsTarget"></bean>
	
	<!-- 관점로직인 LoggingAdvice를 bean으로 설정 -->
	<bean id="LoggingAdvice" class="t_tok03.LoggingAdvice"></bean>
	
	<aop:config>
		<aop:aspect ref="LoggingAdvice">
			<aop:before method="beforeAdvice" 
				pointcut="execution(* t_tok03.ItemTarget.*())"/>
			<aop:before method="beforeBuyConfirm" 
				pointcut="execution(* t_tok03.ItemTarget.buyItem())"/>
			<aop:after method="afterAdvice" 
				pointcut="execution(* t_tok03.*Target.buy*(..))"/>
			<aop:around method="aroundAdvice" 
				pointcut="execution(* t_tok03.*Target.buy*(..))"/>
		</aop:aspect>
	</aop:config>

</beans>